<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between mb-3">
  <h1 class="nav-title px-5">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-film"></i> Watch list
    <% end %>
  </h1>
  <div class="btn d-flex justify-content-around col-lg-2 col-md-4">
    <%= link_to lists_path do %>
      <i class="fas fa-film"></i> My Lists
    <% end %>
    <%= link_to new_list_path do %>
      <i class="fas fa-film"></i> New List
    <% end %>
  </div>
</nav>
